// COLORS
$bg-color-primary: #151515;
$bg-color-secondary: #202022;
$bg-color-tertiary: #1a1a1b;

$text-color-primary: #ffffff;
$text-color-secondary: #949495;

$color-highlight: #eaff5a; // #ffb703;
$gradient-highlight: linear-gradient(135deg, #85c9c8, #d4fee6, #e5fdc9);

// FONTS

// DECORATION
$border-radius-normal: 12px;
$border-radius-more-rounded: 15px;
$border-radius-less-rounded: 8px;

$small-shadow: 5px 5px 15px rgba(12, 12, 12, 0.5);

// ANIMATION
$transition-duration: 0.3s;

// BACKGROUND
$noise: url("../../assets/images/cement.png");
